@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Gray);
}

main {  
    
    display: flex;
    flex-direction: column;
     max-width: 18.875rem; 
     filter: drop-shadow(0em 0.15em 0.15em rgba(0, 0, 0, 0.15));
     margin: 1rem;
     padding-top: 1rem;
     
     
  }
  
  .join { 
    
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    }

        h1{
            color: var(--Cyan);
            font-weight: 700;
            font-size: 1.25rem;
            font-weight: 700;
        }

        .join-p1{
            color: #c9de5a ;
            font-weight: 700;
            
        }

        .join-p2{
            color: #b2b7bb;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
  
  .subscription {
     
    background-color: var(--Cyan);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    color: white;
    }
    
    h2{
        font-size: 1.25rem;
        font-weight: 400;
    }

    .price{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .subscription-p1{
        font-size: 2rem;
    }
    .subscription-p2{
        color: #8ae2e6;
        font-weight: 400;
    }
    .subscription-p3{
        font-weight: 400;
        color: #c3f9f9;
        
    }
    button {
        padding: 1rem;
        font-size: 1rem;
        color: white;
        background-color: var(--Bright-Yellow);
        border: none;
        border-radius: 0.25rem;
        filter: drop-shadow(0em 0.15em 0.15em rgba(0, 0, 0, 0.25));
        font-weight: 400;
        
    }
  
  .why {
    
     background-color:  #49bebd ;
     border-bottom-left-radius: 0.75rem;
     border-bottom-right-radius: 0.75rem;
     padding: 1.25rem;
     }

     h3{
        margin-bottom: 1rem;
        color: white;
        font-weight: 400;
        font-size: 1.25rem;
     }
  
     ul{
        list-style: none;
        color: #b8f1f2;
        font-size: 1rem;
     }

     footer{
        color: var(--Cyan);
        font-weight: 700;
        text-align: center;
     }

     a{
        text-decoration: none;
        color: var(--Cyan);
     }







@media only screen and (min-width: 768px){

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;
        max-width: 37.5rem;
        }
        
        .join { grid-area: 1 / 1 / 2 / 3; }
}